/* variables */
$skinny : #DDA98F
$dark-brown : #684E34


/* TAG CSS */
li a {
  color: green
}

body {
  color: white;
  background: white url("../images/cat47.jpg");
  background-size: cover;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

ul {
  list-style: none;
  /*display: inline;*/
}

li {
  /*width: 100px; */
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

ul li {
  padding:-15px;
}

a {
  color: white;
  padding: 10px;
  text-align: center;
}
/* CLASS CSS */
/* header */
.container {
  width: 100%;
  float: left;
}

.logo {
  color:      white;
  font-size:  24px;
  padding:    20px;
  float:      left;
  text-decoration: none;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

.header {
  padding:    20px;
  float:      right;
}

.header a {
  float:  right;
  text-decoration:  none;
}

/* body */
/* home */
.title  {
  padding:        40px;
  padding-top:    150px;
  text-align:     center;
  letter-spacing: 4px;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

.subtitle {
  text-align: center;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

.start_now {
  padding:  40px;
  text-align: center;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}


/* about */
.info {
  padding: 40px;
  text-align: center;
}

.info a {
  text-decoration: none;
}

.wf-nicomoji { font-family: "Nico Moji"; }

/* index */

ul .diary_list {
}

.diary_block {
  width: 200px;
  height: 267px;
  background-color: #777;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  display: block;
  float: left;
  margin: 15px 5px;
}

.indextitle {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.indexcontent {
 padding: 0 10px; 
}
