{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diary/css/style.css' %}">

<head>
  <div class="container">
  <a href="/" class="logo">DiaLog</a>
    <nav>
      <ul class="header">
        <a href="about">About</a>
        <li>日記</li>
        <li>物語</li>
        <li>生活</li>
        <li>友達</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</head>

<body>
  <h1 class="title">DiaLogとは</h1>

  <p class="info">
    あなたの人生を自分の形で記すもの。それが日記。<br>
    その大切な日記を
    <b>最大限に活かすもの</b>
    に変えるのが私たち DiaLog の役目です。
  </p>
  <p class = "info">
    まずは自分だけの日記を書いてみてください。<br>　
    <a href="/">=>日記を書く</a>
  </p>
</body>

