{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diary/css/style.css' %}">

<!DOCTYPE html>
<html>
<head>
  <div class="w-100 nav">
  <a href="/" class="logo"><i>DiaLog</i></a>
    <nav class="ml-auto">
      <ul class="header row">
        <a href="about">About</a><br>
        <a href="writing">日記投稿</a><br>
        <a href="index">日記一覧</a><br>
        <a href="signup">Sign Up</a><br>
        <a href="login">Log in</a><br>
      </ul>
    </nav>
  </div>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

<footer>
</footer>
</html>
