{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diary/css/style.css' %}">
<head>
  <div class="container">
  <a href="/" class="logo">DiaLog</a>
    <nav>
      <ul class="header">
        <a href="about">About</a>
        <li>日記</li>
        <li>物語</li>
        <li>生活</li>
        <li>友達</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</head>
<body>
  <h1 class="title">DiaLog</h1>

  <h3 class="subtitle">あなたの記録がすべてここに。</h3>
  <div class="start_now">
    <a href="">日記をひらく</a>
  </div>

</body>



