{% extends "diary/base.html" %}

{% block content %}

<p class="info">
  あなたの人生の足跡はここにあります。<br>
  多くの日記を書いて自分だけの人生の足跡を作りましょう。
</p>
{% if latest_diary_list %}
  <ul class="diary_list">
  {% for diary in latest_diary_list %}
    <div class="diary_block">
      <li class="indextitle">{{ diary.title }}</li>
      <li class="indexcontent">{{ diary.content|truncatechars:150 }}</li>
    </div>
  {% endfor %}
  </ul>
{% else %}
  <ul class="diary_list">
    <a href="/writing">
      <div class="diary_block">
        <div class="start_diary">
          No diaries yet.<br>
          Start your DiaLog<br>
          from here.
        </div>
      </div>
    </a>
  </ul>
{% endif %}

{% endblock %}
