{% extends "diary/base.html" %}
{% load widget_tweaks %}

{% block content %}

<p class="info">
  ここはログインフォームです。<br>
  DjangoでのUserモデルまだよくわかってないですが、頑張ります。
</p>

<form method="POST">
  {% csrf_token %}

  <div class="form-group justify-content-center row">
    <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label row">Email</label>
    <div class="col-sm-8 ">
      {{ form.username|add_class:'form-control' }}
      {% for error in form.username.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group justify-content-center row">
    <label for="{{ form.password.id_for_label }}" class="col-sm-3 col-form-label row">Password</label>
    <div class="col-sm-8">
      {{ form.password|add_class:'form-control' }}
      {% for error in form.password.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-sm w-auto">
      <button type="submit" class="btn btn-info btn-block">ログインする</button>
    </div>
  </div>
</form>
<p>{{ message }}</p>

{% endblock %}
