{% extends "diary/base.html" %}
{% load widget_tweaks %}

{% block content %}

<p class="info">
  ここで日記を投稿します。<br>
  ゆくゆくはサムネイルも投稿できるようにしたいですね。
</p>

<form method="POST">
  {% csrf_token %}

  <div class="form-group row">
    <label for="{{ form.title.id_for_label }}" class="col-sm-3 col-form-label">タイトル</label>
    <div>
      {{ form.title|add_class:'form-control' }}
      {% for error in form.title.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <label for="{{ form.title.id_for_label }}" class="col-sm-3 col-form-label">本文</label>
    <div>
      {{ form.content|add_class:'form-control' }}
      {% for error in form.content.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <button type="submit" class="btn btn-info btn-block">記録する</button>
    </div>
  </div>
</form>
<p>{{ message }}</p>

{% endblock %}
