li a {
  color: green
}

body {
  background: powderblue url("images/cat47.jpg") ;
  background-size: cover;
}

.title  {
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

.subtitle {
  text-align: center;
  color: white;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";

}

ul {
  list-style: none;
  /*display: inline;*/
}

li {
  width:100px;
  float: left;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ";
}

.wf-nicomoji { font-family: "Nico Moji"; }
